.imagenes {
    height: 600px;
    width: 600px;
    
  }


.card-container2 {
    float: right;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: 100px;
    
  }

.card-container {
    float: left;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 100px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: auto;
    width: auto;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    float: right;
  }