
<div id="contenedor" class="row">
    <div id="naranja" class="col-6 my-auto mx-auto">
      <p> «Erotica» es una canción interpretada por la cantante estadounidense Madonna, incluida en su quinto álbum de estudio del mismo nombre. Las compañías Maverick, Sire y Warner Bros. Records la publicaron el 29 de septiembre de 1992 como el primer sencillo del disco, y figuró posteriormente en los grandes éxitos GHV2 (2001) y Celebration (2009). Compuesta y producida por Madonna y Shep Pettibone —con escritura adicional de Anthony Shimkin—, es un tema de género trip hop e incluye loops agudos y una voz susurrante de la cantante. Se destaca por emplear la técnica del spoken word o palabra hablada que se había introducido anteriormente en «Justify My Love» (1990). La artista adopta un alter ego llamado Dita, en homenaje a la actriz alemana Dita Parlo, y en la letra invita a su amante a asumir un rol sumiso a la vez que lo lleva a explorar los límites entre el dolor y el placer.

En términos generales, «Erotica» obtuvo comentarios positivos de los críticos y periodistas musicales, quienes vieron similitudes con «Justify My Love» por las partes habladas y la reconocieron como una de las canciones más destacadas del disco. Desde el punto de vista comercial, alcanzó la tercera posición en el Billboard Hot 100 de Estados Unidos; si bien esto supuso el primer sencillo principal de un álbum de Madonna que no lideró el conteo desde su disco debut de 1983, significó el mayor debut en la historia de la lista Hot 100 Airplay al ingresar en la segunda posición. Además, obtuvo un disco de oro de la Recording Industry Association of America (RIAA) y estuvo entre los diez mejores en otros países europeos, entre ellos Grecia e Italia, donde llegó al primer puesto.

Leer
Todos los artículos destacados</p>
    </div>
              
    <div id="verde" class="col-4 my-auto mx-auto"> 
        <!--<a  target="_blank" rel="noopener" href="https://material.angular.io">
            <img src="../../../assets/imagenes/javascript.png" >
        </a>-->

        <picture>
            <img src="../../../assets/imagenes/javascript.png" alt="Chris standing up holding his daughter Elva">
            <i class="fa fa-angle-right" id="flechaAdelante"></i>
          </picture>
          
    </div>
  </div>

