
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">-->
<div class="divPrincipal">
<nav class="menu">

  <ul>
    <img src="../../../assets/imagenes/logo.png" alt="logo" id="logo"/>
  
    <li  [routerLinkActive]="['seleccionado']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']" class="active">Inicio</a></li>
    <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/cursos']">Nuestros Cursos </a></li>
    <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/empezar']">Empezar </a></li>
    <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/foro']">Foro </a></li>
    <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/sesion']">Iniciar Sesión </a></li>
  </ul>
</nav>
</div>



